<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/user/csskarma/linearicons.css">
	<link rel="stylesheet" href="/user/csskarma/owl.carousel.css">
	<link rel="stylesheet" href="/user/csskarma/themify-icons.css">
	<link rel="stylesheet" href="/user/csskarma/font-awesome.min.css">
	<link rel="stylesheet" href="/user/csskarma/nice-select.css">
	<link rel="stylesheet" href="/user/csskarma/nouislider.min.css">
	<link rel="stylesheet" href="/user/csskarma/bootstrap.css">
	<link rel="stylesheet" href="/user/csskarma/main.css">
</head>

<body>
	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">Thank you. Your order has been received.</h3>
			<div class="row order_d_inner">
				<div class="col-lg-6">
					<div class="details_item">
						<h4>Order Info</h4>
						<ul class="list">
							<li><a href="#"><span>Order ID</span> : {{orderProducts._id}}</a></li>
							<li><a href="#"><span>Date</span> : {{ordered_on}}</a></li>
							<li><a href="#"><span>Total</span> : {{orderProducts.grandTotal}}</a></li>
							<li><a href="#"><span>Payment method</span> : {{orderProducts.paymentMethod}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a href="#"><span>Name</span> :{{orderProducts.deliveryDetails.name}}</a></li>
							<li><a href="#"><span>Address</span> : {{orderProducts.deliveryDetails.house}}</a></li>
							<li><a href="#"><span>district</span> : {{orderProducts.deliveryDetails.district}}</a></li>
							<li><a href="#"><span>Postcode </span> : {{orderProducts.deliveryDetails.pincode}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
								{{#each orderProducts.product}}
							<tr>
								<td>
									<p>{{pro_id.productName}}</p>
								</td>
								<td>
									<h5>x {{this.quantity}}</h5>
								</td>
								<td>
									<p> ₹ {{this.subtotal}}</p>
								</td>
							</tr>
							{{/each}}		
							<tr>
								<td>
									<h4>Shipping</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p> ₹ {{orderProducts.ShippingCharge}}</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p> ₹ {{orderProducts.Total}}</p>
								</td>
							</tr>	
							<tr>
								<td>
									<h4>Coupon Discount</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p> - ₹ {{orderProducts.coupondiscountedPrice}}</p>
								</td>
							</tr>
								<tr>
								<td>
									<h4>Grand Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p> ₹ {{orderProducts.grandTotal}}</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center">
		<a href="/allorders"><button class="btn btn-success"> All orders</button></a>
		</div>

	</section>

	<script src="/user/jskarma/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/user/jskarma/vendor/bootstrap.min.js"></script>
	<script src="/user/jskarma/jquery.ajaxchimp.min.js"></script>
	<script src="/user/jskarma/jquery.nice-select.min.js"></script>
	<script src="/user/jskarma/jquery.sticky.js"></script>
	<script src="/user/jskarma/nouislider.min.js"></script>
	<script src="/user/jskarma/jquery.magnific-popup.min.js"></script>
	<script src="/user/jskarma/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/user/jskarma/gmaps.min.js"></script>
	<script src="/user/jskarma/main.js"></script>
</body>



















