<!-- breadcrumb -->
<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
  <a href="index.html" class="s-text16">
    Home
    <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
  </a>
  <a href="product.html" class="s-text16">
    Women
    <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
  </a>
  <a href="#" class="s-text16">
    T-Shirt
    <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
  </a>
  <span class="s-text17">
    Boxy T-Shirt with Roll Sleeve Detail
  </span>
</div>
<!-- Product Detail -->
<div class="container bgwhite p-t-35 p-b-80">
  <div class="flex-w flex-sb">
    <div class="w-size13 p-t-30 respon5">
      <div class="wrap-slick3 flex-sb flex-w">
        <div class="wrap-slick3-dots">
        </div>
        <div class="slick3">
          <div
            class="item-slick3"
            data-thumb="data:{{product.Image.0.contentType}};base64,{{product.Image.0.imageBase64}}"
          >
            <div class="wrap-pic-w d-inline">
              <img
                src="data:{{product.Image.0.contentType}};base64,{{product.Image.0.imageBase64}}"
                alt="IMG-PRODUCT"
              />
            </div>
          </div>
          <div
            class="item-slick3"
            data-thumb="data:{{product.Image.1.contentType}};base64,{{product.Image.1.imageBase64}}"
          >
            <div class="wrap-pic-w">
              <img
                src="data:{{product.Image.1.contentType}};base64,{{product.Image.1.imageBase64}}"
                alt="IMG-PRODUCT"
              />
            </div>
          </div>
          <div
            class="item-slick3"
            data-thumb="data:{{product.Image.2.contentType}};base64,{{product.Image.2.imageBase64}}"
          >
            <div class="wrap-pic-w">
              <img
                src="data:{{product.Image.2.contentType}};base64,{{product.Image.2.imageBase64}}"
                alt="IMG-PRODUCT"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-size14 p-t-30 respon5">
      <h4 class="product-detail-name m-text16 p-b-13">
        {{product.productName}}

      </h4>
      <span class="m-text16 font-weight-bold">
        ₹
        {{product.Price}}
      </span>
      <span class="m-text12 ml-2 mr-2" style="color: #aba5a5;">
        <s> {{product.mrp}}</s>
      </span>
      <span class="text4" style="color: rgb(38, 165, 65);">
        {{product.Discount}}
        % off
      </span>
      <p class="s-text8 p-t-10">

        Color :
        {{product.Color}}
      </p>
      <div class="p-t-33 p-b-60">
        <div class="flex-r-m flex-w p-t-10 d-flex justify-content-between">
          <div class="w-size16 flex-m flex-w justify-content-between">
            <div class="size9 trans-0-4 m-t-10 m-b-10">
              <button
                onclick="addTocart('{{product._id}}')"
                class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 ml-5"
              >
                Add to Cart
              </button>
            </div>
            <div class="size9 trans-0-4 m-t-10 m-b-10">
              <button
                onclick="addTowishlist('{{product._id}}')"
                class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 ml-5"
              >
                Add Wishlist
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
        <h5
          class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4"
        >
          Description
          <i
            class="down-mark fs-12 color1 fa fa-minus dis-none"
            aria-hidden="true"
          ></i>
          <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
        </h5>

        <div class="dropdown-content dis-none p-t-15 p-b-23">
          <p class="s-text8">
            {{product.Description}}
          </p>
        </div>
      </div>
      <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
        <h5
          class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4"
        >
          Reviews (0)
          <i
            class="down-mark fs-12 color1 fa fa-minus dis-none"
            aria-hidden="true"
          ></i>
          <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
        </h5>

        <div class="dropdown-content dis-none p-t-15 p-b-23">
          <p class="s-text8">
            Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at
            ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a
            dignissim mauris placerat
          </p>
        </div>
      </div>
    </div>
  </div>
</div>