
	<title>CycleMart-Product</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/user/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/css/util.css">
	<link rel="stylesheet" type="text/css" href="/user/css/main.css">
<!--===============================================================================================-->
<script src="/user/js/ajaxscript.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css">
</head>
<body class="animsition">

	<!-- Header -->	
<body class="animsition">
	<!-- Header -->
<body class="animsition">

	<!-- Header -->
<body class="animsition">
	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>
				<span class="topbar-child1">
					Free shipping for standard order over 10000
				</span>
				<div class="topbar-child2">
					<span class="topbar-email">
						fashe@example.com
					</span>
					<div class="topbar-language rs1-select2">
						<select class="selection-1" name="time">
							<option>USD</option>
							<option>EUR</option>
						</select>
					</div>
				</div>
			</div>
			<div class="wrap_header">
				<!-- Logo -->
				<a href="/" class="logo">
					<img src="/user/images/icons/cyclemartlogo.png" alt="IMG-LOGO">
				</a> 
				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="index.html">Home</a>		
							</li>
							<li>
								<a href="/shop">Shop</a>
							</li>
						</ul>
					</nav>
				</div>
				<!-- Header Icon -->
				<div class="header-icons">				
					 {{#if user}}
						  <ul class="main_menu">
							<li>
								 <a href="#" class="header-wrapicon1 dis-block">
						           <img src="/user/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					             </a> 								 
								<ul class="sub_menu2">
									<li><a href="/userprofile">My profile</a></li>
									<li><a href="/allorders">Orders</a></li>
									<li><a href="/wishlist">wishlist</a></li>
									<li><a href="/logout">logout</a></li>
								</ul>
							</li>
						</ul>
					{{else}}
					<a href="/Login" class="header-wrapicon1 dis-block">
						<img src="/user/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>
					{{/if}}
					<span class="linedivide1"></span>
					<div class="header-wrapicon2">
						<a href="/cart"><img src="/user/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON"></a>
						<span class="header-icons-noti" id="cart-count">{{cartcount}}</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="/" class="logo-mobile">
				<img src="/user/images/icons/cyclemartlogo.png" alt="IMG-LOGO">
			</a>
			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					 {{#if user}}
						  <ul class="main_menu">
							<li>
								 <a href="#" class="header-wrapicon1 dis-block">
						           <img src="/user/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					             </a> 								 
								<ul class="sub_menu2">
										<li><a href="/userprofile">My profile</a></li>
									<li><a href="/allorders">Orders</a></li>
									<li><a href="/wishlist">wishlist</a></li>
									<li><a href="/logout">logout</a></li>
								</ul>
							</li>
						</ul>
					{{else}}
					<a href="/Login" class="header-wrapicon1 dis-block">
						<img src="/user/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>
					{{/if}}
					<span class="linedivide2"></span>
					<div class="header-wrapicon2">
						<a href="/cart"><img src="/user/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti" id="cart-count">{{cartcount}}</span>
						</a>	
					</div>
				</div>
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>
		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over 10000
						</span>
					</li>
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>
					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>
					<li class="item-menu-mobile">
						<a href="index.html">Home</a>
				
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>
					<li class="item-menu-mobile">
						<a href="/shop">Shop</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Title Page -->
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/user/images/wp2134855-downhill-mountain-bike.jpg);">
		<h2 class="l-text2 t-center">
			Shop
		</h2>
	</section>
	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="container ">
    <div class=""> 
    <div class="row ">
        <aside class=" col-md-3">
            <form id="filter" method="post">
                <div class="card">
                    <article class="filter-group">
                         <div class="wrap-dropdown-content bo7 p-t-15 p-b-1 p-r-10 p-l-10">
						<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Category
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
						</h5>
					 <div class="dropdown-content dis-none p-t-15 p-b-15 ps-3">
						  <label class="custom-control ">
                                    <input type="radio" class="custom-control-input" value=""
                                        name="category">
                                    <div class="custom-control-label">All
                                    </div>
                                </label>
               {{#each category}}
                                <label class="custom-control ">
                                    <input type="radio" class="custom-control-input" value="{{this._id}}"
                                        name="category">
                                    <div class="custom-control-label">{{this.category}}
                                    </div>
                                </label>
                                {{/each}}										
</ul>
                        </div>
                    </article>
                    <!-- filter-group  .// -->
                    	<article class="filter-group">
                        <div class="wrap-dropdown-content bo7 p-t-15 p-b-1 p-r-10 p-l-10">
						<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Brands
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
						</h5>
							 <div class="dropdown-content dis-none p-t-15 p-b-15 ps-3">
									 <label class="custom-control ">
                                    <input type="radio" class="custom-control-input" value=""
                                        name="brand">
                                    <div class="custom-control-label">All
                                    </div>
                                </label>
                                 {{#each brands}}

                                <label class="custom-control ">
                                    <input type="radio" class="custom-control-input" value="{{this._id}}"
                                        name="brand">
                                    <div class="custom-control-label">{{this.BrandName}}
                                    </div>
                                </label>
                                {{/each}}
                        </div>
						</div>
                    </article>
                    <!-- filter-group .// -->
                    <article class="filter-group">
                       <div class="wrap-dropdown-content bo7 p-t-15 p-b-1 p-r-10 p-l-10">
						<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Price range
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
						</h5>
 							<div class="dropdown-content dis-none ps-3">
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" value="10000" name="Prize">
                                        <div class="custom-control-label">Under 10000
                                        </div>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" value="20000" name="Prize">
                                        <div class="custom-control-label">Under 20000
                                        </div>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" value="50000" name="Prize">
                                        <div class="custom-control-label">Under 50000
                                        </div>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" value="100000" name="Prize">
                                        <div class="custom-control-label">Under 100000
                                        </div>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" value="200000" name="Prize">
                                        <div class="custom-control-label">Under 200000
                                        </div>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" class="custom-control-input" name="Prize" value="400000" hidden
                                            checked>
                                   </label>
                       </div>
                    </article>
                </div>
            </form>
        </aside>
        <main class="col-md-9">
             <header class="border-bottom mb-4 pb-3">
                <div class="search-product pos-relative bo4 of-hidden">
					<form class="d-flex justify-content-between" id="search" action="/search" method="post"> 
                   
							<input class="s-text7 size6 p-l-23 p-r-50" type="text" name="key" placeholder="Search Products..." required>

							<button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4" >
								<i class="fs-12 fa fa-search" aria-hidden="true"></i>
							</button>
					</form>
				</div>
            </header>
      <div class="container pt-1 ">
				{{#if filterResult}}
				<div class="row justify-content-around"  id="products">
					
                    {{#each filterResult}}
					<!-- single product -->
					<div class="col-sm-12 col-md-6 col-lg-4 p-b-50 d-flex justify-content-around" style="height: 285px;height: 399px;">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative" style="height: 245px;width: 245px">
									 <img src="data:{{this.Image.0.contentType}};base64,{{this.Image.0.imageBase64}}" >
									<div class="block2-overlay trans-0-4">
									{{!-- <a href="#"  --}}
									<button onclick="addTowishlist('{{this._id}}')"
									class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</button>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
									       <button onclick="addTocart('{{this._id}}')" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>	
									</div>
								</div>
								</div>
								<div class="block2-txt p-t-20 " style="height:100px ;width: 255px ;">
								<a href="/product-details/{{this._id}}" class="block2-name dis-block s-text3 p-b-5 font-weight-bold">
									{{this.productName}}
								</a>
								<span class="block2-price m-text6 p-r-5 font-weight-bold">
									 ₹  {{ this.Price}}
								</span>
								<span class="block2-price m-text6 p-r-5 font-weight-lighter" style="color: #d3d3d3;">
									 ₹ <s>{{this.mrp}}</s>
								</span>
								<span class="block2-price p-r-5 font-weight-lighter" style="color: rgb(38, 165, 65); font-size: 15px;">
									{{this.Discount}} % off
								</span>
							</div>
							</div>
						</div>
                    {{/each}}	
				</div>
				{{else}}
				<div class="justify-content-center">
				<img src="https://www.itinerantnotes.com/blog-theme/images/empty.gif" alt="" srcset="" style="height: 210px;width: 370px;">

				</div>
				{{/if}}
			</div>
    </div>
    </main>
</div>
</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					GET IN TOUCH
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="flex-m p-t-30">
						<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Categories
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Men
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Women
						</a>
					</li>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Dresses
						</a>
					</li>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Sunglasses
						</a>
					</li>
				</ul>
			</div>
			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>
				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Search
						</a>
					</li>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							About Us
						</a>
					</li>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Contact Us
						</a>
					</li>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>
				</ul>
			</div>
			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Help
				</h4>
				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Track Order
						</a>
					</li>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Shipping
						</a>
					</li>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							FAQs
						</a>
					</li>
				</ul>
			</div>
			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					Newsletter
				</h4>
				<form>
					<div class="effect1 w-size9">
						<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
						<span class="effect1-line"></span>
					</div>
					<div class="w-size2 p-t-20">
						<!-- Button -->
						<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
							Subscribe
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="t-center p-l-15 p-r-15">
			<a href="#">
				<img class="h-size2" src="/user/images/icons/paypal.png" alt="IMG-PAYPAL">
			</a>
			<a href="#">
				<img class="h-size2" src="/user/images/icons/visa.png" alt="IMG-VISA">
			</a>
			<a href="#">
				<img class="h-size2" src="/user/images/icons/mastercard.png" alt="IMG-MASTERCARD">
			</a>
			<a href="#">
				<img class="h-size2" src="images/icons/express.png" alt="IMG-EXPRESS">
			</a>
			<a href="#">
				<img class="h-size2" src="/user/images/icons/discover.png" alt="IMG-DISCOVER">
			</a>
			<div class="t-center s-text8 p-t-20">
				Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			</div>
		</div>
	</footer>
	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>
	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/user/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/user/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/user/vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="/user/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/user/vendor/select2/select2.min.js"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/user/vendor/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="/user/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/user/vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="/user/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/user/vendor/sweetalert/sweetalert.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/user/vendor/noui/nouislider.min.js"></script>
	<script type="text/javascript">
		/*[ No ui ]
	    ===========================================================*/
	    var filterBar = document.getElementById('filter-bar');
	    noUiSlider.create(filterBar, {
	        start: [ 50, 200 ],
	        connect: true,
	        range: {
	            'min': 50,
	            'max': 200
	        }
	    });
	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];
	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]) ;
	    });
	</script>
	<script>
       $('input[name=brand]').change(function() {
    $.ajax({
        url: '/search-filter',  
        method: "post",
        data: $('#filter').serialize(),
        success: (isResult) => {
            
            if (isResult) {
                $('#products').load(location.href + " #products");
            }
        }
    })
  });
   $('input[name=Prize]').change(function() {  
    $.ajax({
        url: '/search-filter',  
        method: "post",
        data: $('#filter').serialize(),
        success: (isResult) => {
            
            if (isResult) {
                $('#products').load(location.href + " #products");
            }
        }
    })
  });
   $('input[name=category]').change(function() {
    $.ajax({
        url: '/search-filter',  
        method: "post",
        data: $('#filter').serialize(),
        success: (isResult) => {
            if (isResult) {
                $('#products').load(location.href + " #products");
            }
        }
    })

  });
</script>
<!--===============================================================================================-->
	<script src="/user/js/main.js"></script>
    
</body>
</html>
